

    .tableTimeTable {
        border-collapse: collapse; /* Убираем двойные линии между ячейками */
        /*  width: 600px; Ширина таблицы */
    }

    .tableTD .tableTH {
        font-size: 12px;
        border: 1px solid black; /* Параметры рамки */
        text-align: center; /* Выравнивание по центру */
        padding: 4px; /* Поля вокруг текста */
        min-height: 15px;
        min-width: 15px;
    }

    .tableTH {
        height: 40px; /* Высота ячеек */
        vertical-align: bottom; /* Выравнивание по нижнему краю */
        padding: 0; /* Убираем поля вокруг текста */
    }

